node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz.env
ecosystem.config.cjs
attached_assets/*
!attached_assets/PayLink_Logo_transparent_1771416877301.png
!attached_assets/Gen-4_5_Create_a_cinematic_animated_background_video_for_a_mod_1774400668621.mp4
